<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoNow"
        tools:targetApi="31">
        <activity
            android:name=".vista.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".vista.iniciarActivity"/>
        <activity android:name=".vista.FragmentRegistro"/>
        <activity android:name=".vista.FragmentIniciar"/>
        <activity android:name=".vista.FragmentRecuperacion"/>
        <activity android:name=".vista.generalActivity"/>
        <activity android:name=".vista.FragmentMapa"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD_-gB0Qn9fkv5kTLA8dKkvq4zvJSe4B90" />


    </application>

</manifest>